
@{
    ViewData["Title"] = "About";
}

    <img width="50%" src="@Url.Content("~/images/photo.png")" alt="IMAGES" />

<h1>About</h1>

<p>Here are the instructions on how to play the game.</p>
<h3>1. Have all the players go to this webpage on their mobile devices.</h3>
<h3>2. Have them log in with the unique game code.</h3>